.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
	max-width: 1200px;
	position: relative;
	margin: 0 auto;
	padding: 1rem 0;
	width: 100%;
}

.image {
	object-fit: cover;
	width: 500px;
	height: auto;
	max-height: 500px;
}

.titlebox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	gap: 2rem;
}

.title {
	font-size: 1.5rem;
}

.subtitle {
	color: #666666;
}

.postdata {
	display: flex;
	gap: 2rem;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.buttonbox {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 2rem;
}

.social {
	display: flex;
	gap: 1rem;
}

.content {
	padding: 2rem 0;
	line-height: 1.6;

	text-align: justify;
}

.categories {
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.postContent {
	@apply prose prose-lg prose-invert mx-auto max-w-[1200px] lg:px-16;
}

@media (max-width: 576px) {
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}
