.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.title {
	font-size: 2rem;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.form input {
	padding: 0.8rem;
	margin: 0.5rem 0;
	border: 1px solid #2a2a2a;
	background-color: inherit;
	width: 300px;
}
