.social {
	display: flex;
	gap: 1rem;
}

.likeButton svg {
	fill: transparent;
	transition: fill 0.3s;
}

.likeButton:hover svg {
	fill: #ff5500;
}

.likeButton:hover svg path {
	stroke: transparent;
}
