.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  gap: 0.5rem;
  height: 300px;
}

.image {
  height: 200px;
}

.title {
  font-weight: bold;
}

.subtitle {
  color: #666666;
}

.buttonbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.social {
  display: flex;
  gap: 1rem;
}
