.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin: 0 auto;
	gap: 0.5rem;
	min-height: 300px;
}

.image {
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
}

.title {
	font-weight: bold;
}

.subtitle {
	color: #98989a;
}

.buttonbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.social {
	display: flex;
	gap: 1rem;
}

.categories {
	display: flex;
	gap: 0.5rem;
}

.postLink {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 0.5rem;
}

@media (max-width: 576px) {
	.image {
		width: 100%;
	}
}
