.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	gap: 3rem;
	padding-bottom: 4rem;
	border-bottom: 1px solid#666666;
}

.section {
	text-align: start;
	color: #f1c40f;
	font-size: 2rem;
}

.descbox {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.desc {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.title {
	font-size: 1.5rem;
}

.subtitle {
	color: #666666;
}

.postdata {
	display: flex;
	gap: 2rem;
}

.item {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.buttonbox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.social {
	display: flex;
	gap: 1rem;
}

.postLink {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 1rem;
}

@media (max-width: 768px) {
	.wrapper {
		flex-direction: column;
		justify-content: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		gap: 1.5rem;
	}

	.descbox {
		align-items: center;
	}

	.desc {
		align-items: center;
		text-align: center;
	}

	.title {
		font-size: 1.2rem;
	}

	.item {
		align-items: center;
	}

	.social {
		justify-content: center;
	}

	.image {
		width: 100%;
	}
}
